<html>
<head>
    <link href="/css/app.css" media="all" rel="stylesheet" />
</head>
<body>
<header>
    <h3>header</h3>
</header>
<main>
    {% block main %}
    {% endblock %}

    <hr>

    Global value: {{ globalParameter }}
</main>
<script src="/js/app.js"></script>
</body>
</html>
