{% extends '_layout.html.twig' %}

{% block main %}
    <h1>part/page</h1>

    <ul>
        {% for car in cars %}
            <li>{{ car }}</li>
        {% endfor %}
    </ul>

    <a href="/">homepage</a>
{% endblock %}
